/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* CSS components */
@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/containers.css");
@import url("components/lists.css");

/* Utilities */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.text-center {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 32px;
  font-weight: bolder;
}

h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
}

.container > p {
  color: white;
  font-weight: regular;
  font-size: 18px;
  margin-bottom: 40px;
}


.card-text {
  color: #555;
}
