
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(0,0,0,.2);
  text-align: center;
  margin: 20px
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.card h4 {
  margin: 20px 0;
}
